In [1]:
import pandas as pd

0

In [28]:
gss = pd.read_csv('GSS1974.csv')
gss.head()

,Variable,FOUND,OCC10,OCCINDV,OCCSTATUS,OCCTAG,PRESTG10,PRESTG105PLUS,INDUS10,INDSTATUS,...,FAMDIF16,VETKIND,CHLDNUM,CHLDSOON,OTHER,OTH16,SPOTHER,SPOTH16,HRS2,SPHRS2
0,Label,Case was retrievable in 2012,R's census occupation code (2010),R's occ/ind verbatim retrieved,OCC10 coding status,OCC10 coding tag,R's occupational prestige score (2010),R's occupational prestige score using threshol...,R's industry code (NAICS 2007),INDUS10 coding status,...,Reason not living with parents,Branch of service,How many children expected,Children expected in 5 years,Other protestant denominations,Other protestant denominations,Other protestant denominations,Other protestant denominations,Number of hours usually work a week,No. of hrs spouse usually works a week
1,NaN,1,5620,1,3,1,25,12,4970,3,...,0,-1,0,-1,0,0,0,0,-1,-1
2,NaN,1,2040,1,3,1,66,86,9160,3,...,0,-1,0,-1,36,0,36,36,-1,-1
3,NaN,1,0,0,1,1,0,0,0,1,...,1,-1,0,-1,0,0,0,0,-1,-1
4,NaN,1,0,0,1,1,0,0,0,1,...,0,-1,0,-1,0,0,0,0,-1,-1

In [68]:
gss_df = gss[['YEAR','AGE','AGE','SEX','POLVIEWS','PARTYID', 'INDUS10']].iloc[1: , :].astype(int)

gss_df.head()

   YEAR  AGE  AGE  SEX  POLVIEWS  PARTYID  INDUS10
1  1974   21   21    1         4        2     4970
2  1974   41   41    1         5        0     9160
3  1974   83   83    2         6        0        0
4  1974   69   69    2         6        0        0
5  1974   58   58    2         6        1     2670

In [70]:
#Create the df and series
banker = gss_df['INDUS10'] == 7860
banker.sum()

115

In [71]:
#calculate the percentage of banker career
#computes the fraction of true in the series
banker.mean()

0.07749326145552561

In [72]:
#create probability function
def prob(A):
    """Computes the probability of a proposition, A"""
    return A.mean()

prob(banker)

0.07749326145552561

In [73]:
#do the same thing with sex
female = (gss_df['SEX'] == 2)
prob(female)

0.534366576819407

In [76]:
#once more with political party
Liberal = (gss_df['POLVIEWS'] <= 3)
democrat = (gss_df['POLVIEWS'] <= 1)
print(prob(Liberal))
print(prob(democrat))

0.28975741239892183
0.014824797843665768

# CONJUNCTION

In [87]:
print("Probability of Banker:" , prob(banker))
print("Probability of Democrat:", prob(democrat))
print("Probability of Democrat & Banker", prob(democrat & banker))
print("Probability of Banker & Democrat", prob(banker & democrat))

Probability of Banker: 0.07749326145552561
Probability of Democrat: 0.014824797843665768
Probability of Democrat & Banker 0.0013477088948787063
Probability of Banker & Democrat 0.0013477088948787063

# Conditional Probability

1. What is the probability that a responent is a Democrat, given that they are a liberal

In [89]:
#Select liberals from democrats
selected = democrat[Liberal]
prob(selected)

0.05116279069767442

2. What is the probabiliity that a respondent is female, given that they are a banker

In [90]:
selected = female[banker]
prob(selected)

0.7217391304347827

In [92]:
#Creating a function
def condition(proposition, given):
    return prob(proposition[given])

In [94]:
condition(female, banker)

0.7217391304347827

3. What is the probability that a respondent is liberal, given that they are female

In [95]:
condition(Liberal, female)

0.27994955863808324

## Conditional probability is not commutative

In [98]:
print(condition(female, Liberal))
print(condition(Liberal, female))

0.5162790697674419
0.27994955863808324

# Condition and Conjunction

Probability a respondent is female, given that they are a Liberal Democrat

In [102]:
condition(female, given = Liberal & democrat)

0.5

Probability they are a Liberal female, given they are a banker

In [103]:
condition(Liberal & female, given=banker)

0.22608695652173913

About 22 percent of bankers are liberal women